/* presets */

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }
  
  html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  
  body {
    color: #565656;
    margin: 0;
  }

  a, a:hover {
    color: inherit; /* blue cors for links too */
    text-decoration: inherit; /* no underline */
  }
  
  
/* custom */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background-attachment: #fff;
    width: 100%;
}

.title {
    font-size: 36px;
    color: #e53768;
}

header {
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.nav-bar {
    display: inline-block;
    margin: 0 auto;    
    line-height: 5;
    justify-content: flex-end;
}

.nav-bar a {
    margin: 0 10px;
}

.nav-bar a:hover {
    opacity: 0.5;
}

.nav-bar .logo {
    display: inline-block;
    width: 167px;
    height: 63px;
    margin: 0 20px;
}

.logo:hover {
    opacity: 1 !important;
}

.service {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px #d0d0d0;
    width: 300px;
    height: 120px;
    max-height: 200px;
    box-sizing: content-box;
    display: inline-block;
}

.service__row {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.service__icon {
    width: 40px;
    margin: 3px;
}

.service__name {
    position: relative;
    top: -12px;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2d;
}

.service__list {
    width: 40%;
    margin: 10px auto;
}

.content {
    margin: 0 auto;
}

.btn {
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.5;
}

.btn--primary {
    background-image: linear-gradient(274deg, #a50085, #e53768);
    color: #ffffff;
}

.btn--secondary {
    background-color: #ffffff;
    color: #e53768;
}

.italic {
    font-style: italic;
}

.how__image{
    width: 300px;
    height: 200px;
    display: inline-block;
}

.how__list {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.how__list__item {
    margin: 10px 0;
}

.how__list__index--bold {
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2d;
    display: inline-block;
    min-width: 15px;
}

.section {
    max-width: 700px;
    max-height: 500px;
    width: 100%;
    margin: 30px auto;
}

.section--full {
    max-width: none;
}

.section__title {
    color: #e53768;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    font-size: 18px;
}

.section__title--centered {
    margin: 20px 33%;
}

.section__title--strong {
    font-size: 24px;
    font-weight: 800;
}

.section__title--secondary {
    color: #ffffff;
}

.contact {
    width: 100%;
    margin: 0 auto;
    max-width: none !important;
    background-image: linear-gradient(278deg, #a50085, #e53768);
    color: #fff;
}

.experience__description__box {
    box-shadow: 0 2px 11px 0 rgba(165, 165, 165, 0.62);
    background-color: #ffffff;
    border: sid 1px #a5a5a5;
    padding: 20px;
    position: relative;
    width: 40%;
    top: 50px;
    left: 100px;
}

.experience__description {

}

.experience__description__image {
    position: relative;
    width: 300px;
    height: 400px;
    top: -200px;
    left: 350px;
    z-index: -1;
}

.oldhousers {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.oldhouser {
    width: 30%;
    display: inline-block;
    margin: 20px 10px;
    vertical-align: top;
}

.oldhouser__wrapper {
    height: 180px;
}

.oldhouser__name {
    vertical-align: bottom;
}

.oldhouser__image {
    vertical-align: top;
    margin: 0 17%;
    width: 90px;
}

.social__list {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.social__item {
    margin: 10px;
}