/* presets */

* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
  }

  body {
    color: #565656;
    margin: 0;
  }

  a, a:hover {
    color: inherit; /* blue cors for links too */
    text-decoration: inherit; /* no underline */
  }
  
  
/* custom */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background-attachment: #fff;
    width: 100%;
}

.title {
    font-size: 36px;
    color: #e53768;
}

header {
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.nav-bar {
    display: inline-block;
    margin: 0 auto;    
    line-height: 5;
    justify-content: flex-end;
}

.nav-bar a {
    margin: 0 10px;
}

.nav-bar a:hover {
    opacity: 0.5;
}

.nav-bar .logo {
    display: inline-block;
    width: 167px;
    height: 63px;
    margin: 0 20px;
}

.logo:hover {
    opacity: 1 !important;
}

.service {
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    border: solid 1px #d0d0d0;
    width: 300px;
    height: 120px;
    max-height: 200px;
    box-sizing: content-box;
    display: inline-block;
}

.service__row {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.service__icon {
    width: 40px;
    margin: 3px;
}

.service__name {
    position: relative;
    top: -12px;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2d;
}

.service__list {
    width: 40%;
    margin: 10px auto;
}

.content {
    margin: 0 auto;
}

.btn {
    border: none;
    cursor: pointer;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.5;
}

.btn--primary {
    background-image: linear-gradient(274deg, #a50085, #e53768);
    color: #ffffff;
}

.btn--secondary {
    background-color: #ffffff;
    color: #e53768;
}

.btn-hablemos {
    margin: 0 42%;
}

.italic {
    font-style: italic;
}

.how__image{
    width: 300px;
    height: 200px;
    display: inline-block;
}

.how__list {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.how__list__item {
    margin: 10px 0;
}

.how__list__index--bold {
    font-size: 16px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2d;
    display: inline-block;
    min-width: 15px;
}

.section {
    max-width: 700px;
    max-height: 450px;
    width: 100%;
    margin: 30px auto;
}

.section--full {
    max-width: none;
}

.section__title {
    color: #e53768;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    font-size: 18px;
}

.section__title--centered {
    margin: 20px 33%;
}

.section__title--strong {
    font-size: 24px;
    font-weight: 800;
}

.section__title--secondary {
    color: #ffffff;
}

.contact {
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    max-width: none !important;
    background-image: linear-gradient(278deg, #a50085, #e53768);
    color: #fff;
}

.contact .section__title--centered {
    max-width: 300px;
    width: 100px;
    margin: 20px 35%;
}

.contact__form {
    width: 66%;
    max-width: 300px;
    margin: 20px 39%;
}

.contact__form p {
    text-align: center;
}

.contact__form p.contact__email {
    font-size: 16px;
    font-weight: 600;
}

.contact__form__item {
    margin: 10px 0;
}

.contact__form__item--centered {
    margin: 0px 35%;
}

.contact__form__item input,
.contact__form__item textarea {
    margin: 5px 0;
    width: 100%;
}

.experience__description__box {
    box-shadow: 0 2px 11px 0 rgba(165, 165, 165, 0.62);
    background-color: #ffffff;
    border: sid 1px #a5a5a5;
    padding: 20px;
    position: relative;
    width: 40%;
    top: 50px;
    left: 100px;
}

.experience__description__image {
    position: relative;
    width: 300px;
    height: 400px;
    top: -200px;
    left: 350px;
    z-index: -1;
}

.oldhousers {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.oldhouser {
    width: 30%;
    display: inline-block;
    margin: 20px 10px;
    vertical-align: top;
}

.oldhouser__wrapper {
    height: 180px;
}

.oldhouser__name {
    vertical-align: bottom;
}

.oldhouser__image {
    vertical-align: top;
    margin: 0 17%;
    width: 90px;
}

.social__list {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.social__item {
    margin: 10px;
}

    /* ******* mobile ******** */

    /* Smartphones (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) and (max-device-width : 480px) {
        header {
            display: flex;
            flex-direction: column;
        }

        .nav-bar .logo {
            display: block;
            margin: 40px auto;
        }

        .nav-bar a {
            height: 70px;
            margin: 0 5px;
            display: block;
            text-align: center;
        }

        .experience__description__box {
            position: inherit;
            width: 95%;
            margin: 0 auto;
        }
        
        .experience__description__image {
            display: none;
        }

        .content {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }

        .section {
            max-height: none;
            display: flex;
            flex-direction: column;
        }

        .section__title--centered {
            margin: 0;
        }

        .btn {
            width: 120px;
            height: 70px;
        }

        .btn-hablemos {
            margin: 20px 30%;
            width: 120px;
            height: 70px;
        }

        .how__image {
            width: 100%;
        }

        .how__list {
            width: 100%;
        }

        .service {
            height: auto;
        }

        .service__row {
            flex-direction: column;
        }

        .oldhouser {
            width: 100%;
            margin: 20px auto;
        }

        .oldhouser__image {
            margin-left: 30%;
        }

        .contact__form{
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 auto;
        }
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
    /* Styles */
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        .header {

        }

    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* iPhone 6+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }